.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
  text-transform: uppercase;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

.header-store .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0;
}
