.header-store {
  color: #fff;
  overflow: hidden;
}

.title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

.navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

.action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.last {
  margin-right: 0;
}
