.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
  vertical-align: bottom;
}

.header-store .action {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  padding-bottom: 8px;
  position: relative;
}

.header-store .action.-last {
  margin-right: 0;
}

.header-store .action:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 200ms linear;
  transform-origin: center left;
}

.header-store .action:hover:after {
  transform: scale(1);
}
