.wrap-product {
  display: inline-block;
  width: 554px;
  vertical-align: middle;
  position: relative;
}

.wrap-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 98px));
}
