header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}
